<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link homepage -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- link nav bar -->
    <link rel="stylesheet" href="../static/css/navbar.css">
    <!-- import remix icon package -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <!-- import ion icon package -->
    <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- nav bar -->
    <nav>
        <!-- save zone small logo -->
        <a href="{{ url_for('views.home') }}" class="logo-container">
            <div class="logo">Save Zone</div>
            <ion-icon name="musical-note-outline"></ion-icon>
        </a>
        <!-- ul=unordered list → tag for create list in disorder -->
        <!--li=list item -->
        <!--a=anchor-->
        <ul>
            <!-- upload menu -->
            <li><a href="{{ url_for('views.upload') }}">Upload</a></li>
            <!-- create menu -->
            <li><a href="{{ url_for('views.create') }}">Create</a></li>
            <!-- preview menu -->
            <li><a href="{{ url_for('views.previews') }}">Preview & Edit</a></li>
            <!-- about us menu -->
            <li><a href="{{ url_for('views.about') }}">About us</a></li>
        </ul>
    </nav>
    <!-- elements -->
    <div class="elements">
        <!-- background -->
        <div class="circle purple"></div>
        <div class="circle pink"></div>
        <!-- save zone big logo -->
        <div class="big_logo"><img src="../static/images/save zone.png" alt="Big Logo"></div>
    </div>


    <div class="button">
        <!-- upload button -->
        <a href="{{ url_for('views.upload') }}" button class="Upload">
            <p>Upload</p>
            <ion-icon name="arrow-up-outline" class="Upload-icon"></ion-icon>
        </a>
        <!-- Or text between button -->
        <span class="Or">
            <p>or</p>
        </span>
        <!-- create button -->
        <a href="create.html" button class="Create">
            <p>Create</p><ion-icon name="add-outline" class="Create-icon"></ion-icon>
        </a>
    </div>

    <section>
    </section>
    <!-- link java script file -->
    <script src="js\script.js"></script>
</body>

</html>